body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto";
}

h2 {
  color: white;
}

.section-1 {
  margin: 0;
  padding: 30px;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/sao-paulo2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.btn-outline-success {
  color: white;
}

.hero-text-box {
  margin-top: 25%;
}

#footer {
  background-color: #f3f3f3;
  color: white;
  font-size: 20px;
  padding: 20px 0;
}

.title-padding {
  padding: 40px 0;
}

.contact-us {
  /* background-color: rgb(153, 153, 127); */
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/sao-paulo1.jpg);
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  /* margin-bottom: 40px; */
  background-attachment: fixed;
}

.card-footer {
  padding-bottom: 5px;
}

a {
  color: white;
}

a:hover {
  color: #4bb543;
  text-decoration: none;
}

.fa-instagram,
.fa-facebook,
.fa-whatsapp,
.fa-envelope {
  font-size: 30px;
}

.navwhatsapp {
  font-size: 20px;
}
