body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto";
}

h2 {
  color: white;
}

.signature {
  font-family: "Apple Chancery";
  font-size: 22px;
}

.bg-navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/sao-paulo2.jpg);
}

.section-1 {
  margin: 0;
  padding: 30px;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/sao-paulo2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.whatsapp-navlink {
  color: white;
}

.whatsapp-navlink:hover {
  color: #4bb543;
  text-decoration: none;
}

.whatsapp-navlink i {
  font-size: 18px;
}

.btn-outline-success {
  color: white;
}

.hero-text-box {
  margin-top: 25%;
}

.title-padding {
  padding: 40px 0;
}

.contact-us {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/sao-paulo1.jpg);
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  /* margin-bottom: 40px; */
  background-attachment: fixed;
}

.site-footer {
  background-color: #2c2d3a;
  color: white;
  font-size: 25px;
  padding: 20px 0;
}

.site-footer p {
  font-size: 14px;
}

.card-footer {
  padding-bottom: 5px;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #4bb543;
  text-decoration: none;
}
